version: "3.9"

services:
  airflow:
    build: ./docker/airflow
    container_name: airflow
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/configs:/opt/airflow/configs
    command: >
      bash -c "airflow db init &&
               airflow users create \
                 --username admin \
                 --firstname Admin \
                 --lastname User \
                 --role Admin \
                 --email admin@example.com \
                 --password admin &&
               airflow scheduler & airflow webserver"

  dbt:
    build: ./docker/dbt
    env_file:
      - .env
    container_name: dbt
    volumes:
      - ./dbt:/usr/app/dbt
    command: tail -f /dev/null
